################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Risen
/Turbo/bin/app.publish/bin/
/Turbo/bin/app.publish/bin/app.publish/bin/
/Turbo/obj/
